upstream backend {
    # Адрес back-end'a
    server 45.86.180.13:3000;
}

server {
    listen 80 default_server;
    listen [::]:80 default_server;
    listen 443 ssl;
    listen [::]:443 ssl;

    # certs sent to the client in SERVER HELLO are concatenated in ssl_certificate
    ssl_certificate /etc/ssl/2dance/bundle.social-dance.crt;
    ssl_certificate_key /etc/ssl/2dance/social-dance_site.key;
    ssl_session_timeout 1d;
    ssl_session_tickets off;

    server_name  localhost;

    client_max_body_size 4m;

    location ~(\.(\w+))$ {
        root   /usr/share/nginx/html;
        index  index.html index.htm;
        expires off;
    }

    location / {
        root   /usr/share/nginx/html;
        index  index.html index.htm;
        try_files  /index.html =404;
        expires off;
    }


    location /api/ {
        proxy_pass http://45.86.180.13:3000/;
    }

}
